.git
.github
.pytest_cache
pytest-cache-files-*
__pycache__
*.pyc
.venv
.models
node_modules
apps/web/node_modules
apps/web/dist
apps/simulator/linux_build
data
logs
*.log
*.zip
ros2_ws/build
ros2_ws/install
ros2_ws/log
