.venv/
__pycache__

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
uv.lock
/services/patrol_planning/assets/intruders/poacher.py
/services/patrol_planning/assets/intruders/poacher_lite.py
/services/patrol_planning/assets/intruders/poacher_lite.old

data/*/
